{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    todo detail
{% endblock %}




{% block content %}
<h1>welcome</h1>

<div class="card text-bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header"><a href="">{{object.category}}</a></div>
    <div class="card-body">
      <h5 class="card-title">{{object.title}}</h5>
      <p class="card-text">{{object.created}}</p>
    </div>
  </div>

  <a class="btn btn-danger" href="{% url 'delateTask' object.id %}">delete</a>
{% endblock  %}